*{
    margin: 0;
    padding: 0;
}

.container {
    color: #6dcf1a78;
    background-color: lime;
    /* border: 3px solid green ; */
    border-radius: 10px ;
    /* -webkit-text-stroke: 1px red; */
    /* 
        x - horizontal axis
        y - vertical axis
    */
    box-shadow: -2px -2px 4px 3px grey ;
    text-shadow: 1px 0px 0px black;
    border: 33px solid transparent;
    /* border-image: url("https://i.stack.imgur.com/baEaT.png") 33 repeat; */


    /* padding: 40px;
    margin: 40px; */

    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    max-width: 100px;
    
}